body {

    background-color: #bdbdbd;
    font-family: sans-serif;
}

/* icones  */
#logo {
    width: 200px;


}

#icon-compras {
    width: 30px;

}

#icon-buscas {
    width: 35px;
}

/*fim icones*/

/*cabecalho*/
.cabecalho-menu {

    margin-left: 10px;
    height: 24px;
    width: 24px;
    background: url(Menu.png);
    display: inline-block;
}
.cabecalho {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    color: white;
    
}

.lista-menu {
    display: none;
    position: absolute;
    top: 15%;
    background-color: black;
}
.container-botao:checked ~ .lista-menu {
    display: block;
}
a {
    text-decoration: none;
    color: #ffffff;
    
}

