body {

    background-color: #bdbdbd;
    font-family: sans-serif;
}

/* icones  */
#logo {
    width: 200px;


}

#icon-compras {
    width: 30px;

}

#icon-buscas {
    width: 35px;
}

/*fim icones*/

/*cabecalho*/
.cabecalho-menu {

    margin-left: 10px;
    height: 24px;
    width: 24px;
    background: url(Menu.png);
    display: inline-block;
    
}
.cabecalho {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    color: white;
    
}

.lista-menu {
    display: none;
    position: absolute;
    top: 8%;
    background-color: black;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid yellow;
}
.container-botao:checked ~ .lista-menu {
    display: block;
}
a {
    text-decoration: none;
    color: #ffffff;
    
}
.lista-menu-titulo,
.lista-menu-item {
    padding: 16px;
   


}
.lista-menu-titulo {
    font-size: 13px;
    font-weight: 600;
    color:yellow ;
}
.lista-menu-link {
    text-transform: uppercase;
    text-decoration: underline;
    
}
