body {

    background-color: #bdbdbd;
    font-family: "Poppins";
}

/* icones  */
#logo {
    width: 200px;


}

.icon-compras {
    width: 30px;

}

#icon-buscas {
    width: 35px;
}

/*fim icones*/

/*cabecalho*/
.cabecalho-menu {

    margin-left: 10px;
    height: 24px;
    width: 24px;
    background: url(Menu.png);
    display: inline-block;
    
}
.cabecalho {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    color: white;
    
}

.lista-menu {
    display: none;
    position: absolute;
    top: 8%;
    background-color: black;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid yellow;
}
.container-botao:checked ~ .lista-menu {
    display: block;
}
a {
    text-decoration: none;
    color: #ffffff;
    
}
.lista-menu-titulo,
.lista-menu-item {
    padding: 16px;
   


}
.lista-menu-titulo {
    font-size: 13px;
    font-weight: 600;
    color:yellow ;
}
.lista-menu-link {
    text-transform: uppercase;
    text-decoration: underline;
    
}
.banner {
    background: linear-gradient(to right , yellow, rgb(143, 121, 0));
    padding: 35px 20px;
    text-align: center;
}

.texto-banner {
    margin: 20px;
    font-size: 14px;
}
#banner-procurar {
    background-color: transparent;
    color: rgb(0, 0, 0);
    width: 80%;
    border-radius: 30px;
    border: 2px solid black;
    padding: 15px;

}
#banner-procurar:hover {
    background-color: black;
    color: yellow;
}
.carrossel-titulo {
    background-color: black;
    color: yellow;
    padding:20px ;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
    display: none;
}


.swiper-pagination {
    position: initial;
    margin: .5em 0;
}
.card-descrição {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;

    }
    .card{

        background: linear-gradient(to right , yellow, rgb(143, 121, 0));
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin: 1em;
        padding: 1em;
    }
.card .Camiseta {
width: 30%;
}
.card-botões {
    display: flex;
    justify-content: space-between;
}
.botões-item {
    width: 30px;
}
.descrição {
    margin: auto;
    font-size: 19px;
}
.botões-ancora{
    color: black;
}
.imagem {
    width: 200px;
}
.tópicos {
    background: black;
     text-align: center;
     padding: 1em 0;
     border-radius: 10px;
     margin: 1em;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.tópicos__titulo {
   color: yellow;
}

.tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 .tópicos__link {
    color: black;
     padding: 1em;
     background-color: yellow;
 
 }
 .tópicos__item {
    margin: 2em 0.5em;
 }
 .contato {
    background: linear-gradient(to right , yellow, rgb(143, 121, 0));
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contato__titulo
.contato__texto {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}
.contato__email {
    padding: 1em;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 90%;
}
.contato__email::placeholder {

    color: gray;
    padding-left: 2em;
}
hr {
    margin: 0;
}

.rodapé {
    background-color: gray;
    text-align: center;
}
